@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --bege-claro: #f3d9b7;
    /* Bege claro */
    --bege-escuro: #d2b48c;
    /* Bege escuro */
    --rosa-claro: #fc98aa;
    /* Rosa claro puxado para o salmão */
    --branco: #ffffff;
    /* Letras brancas */
    --grey: #acacac;
    /* cinza */
    --light-grey: #f1f1f1;
    /* cinza claro */
    --marrom: #6e4c34;
    /* Detalhes em marrom */
    --marrom-escuro: #472e14;
    /* Detalhes em marrom */
    --marrom-claro: #804d16;
    /* Detalhes em marrom */
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.form-control {
    box-shadow: none !important;
}

.form-control:focus {
    border: 1px solid var(--marrom);
}

header {
    width: 100%;
    height: 280px;
    background-color: var(--bege-escuro);
    color: var(--bege-claro);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

header .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    filter: grayscale(1);
    opacity: 0.03;
}

header .background img {
    width: 100%;
}

header .content {
    width: fit-content;
    z-index: 2;
}

header .content img {
    display: block;
    width: 420px;
    margin-bottom: 20px;
}

header .content nav {
    width: fit-content;
    margin: auto;
}

header .content nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

header .content nav ul li {
    margin-right: 12px;
    display: inline-block;
}

header .content nav ul li a {
    text-decoration: none;
    color: var(--branco);
}

header .content nav ul li span {
    display: block;
    background-color: var(--branco);
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.pesquisar {
    padding: 30px 0;
    width: 100%;
    background-color: #f0f0f0;
}

.btn-primary {
    background-color: var(--marrom);
    border: 1px solid var(--marrom);
}

.btn-primary:hover {
    background-color: var(--marrom-escuro);
    border: 1px solid var(--marrom);
}

.container {
    margin-top: 50px;
}

.post-link {
    text-decoration: none;
}

.card {
    border: none !important;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
    max-width: 400px;
    margin: auto;
    margin-bottom: 50px;
}

.post-link:hover .card {
    transform: translateY(-5px);
}

.card .capa {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card .capa img {
    object-fit: contain;
    max-height: 300px;
    min-height: 300px;
}

.card-title {
    height: calc(2 * 1.2em);
    margin-bottom: 20px;
    font-weight: bold;
    color: var(--marrom-claro);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limita o texto a duas linhas */
    -webkit-box-orient: vertical;
    line-clamp: 2; /* Compatibilidade com navegadores que suportam a propriedade padrão */
}

.card-text {
    color: #7c7c7c;
}

main {
    min-height: calc(100vh - 320px);
    padding-bottom: 80px;
}

.post {
    max-width: 1150px;
    margin: auto;
    background-color: #ffff;
    padding: 40px 60px;
    padding-top: 80px;
}

.post .titulo {
    font-size: 3.2em;
    font-weight: 700;
    color: var(--marrom-escuro);
    margin-bottom: 30px;
}

#capa {
    max-height: 400px;
}

.post img,
.post iframe {
    display: block;
    margin: 50px auto;
}

.compartilhar {
    display: flex;
    align-items: center;
}

.compartilhar p {
    color: #7c7c7c;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-right: 30px;
}

.compartilhar a {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    margin-right: 20px;
    text-decoration: none;
    transition: all 0.8s ease;
}

.compartilhar a i {
    font-size: 18px;
}

.facebook {
    background-color: #3b5998;
}

.facebook:hover {
    background-color: #4a71c7;
}

.x {
    background-color: #000000;
}

.x:hover {
    background-color: #242424;
}

.linkedin {
    background-color: #0077b5;
}

.linkedin:hover {
    background-color: #0097e9;
}

.whatsapp {
    background-color: #25d366;
}

.whatsapp:hover {
    background-color: rgb(0, 168, 0);
}

.telegram {
    background-color: #2ca5e0;
}

.telegram:hover {
    background-color: #5ac3f7;
}

.opcoes {
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
    margin: 20px 0;
}

.info div {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.info i {
    font-size: 18px;
    margin-right: 10px;
    color: var(--marrom-escuro);
}

.info span {
    font-size: 18px;
}

.conteudo {
    margin-bottom: 50px;
}

.conteudo p,
.conteudo li {
    font-size: 18px;
    line-height: 1.8em;
    color: #6e6e6e;
}

.conteudo p {
    text-align: justify;
}

.conteudo h1,
.conteudo h2,
.conteudo h3 {
    color: var(--marrom);
    margin-bottom: 30px;
    margin-top: 20px;
}

.whatsapp-box {
    position: fixed;
    bottom: 40px;
    right: 50px;
    z-index: 9997;
    opacity: 0;
    transform: translateY(120px);
    transition: all 0.3s ease;
}

.whatsapp-button {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: rgb(140, 140, 140);
    border-radius: 25px;
    display: flex;
    align-items: center;
    object-fit: cover;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    transition: width 0.3s ease, background-color 0.3s ease;
    padding: 0 16px;
    text-decoration: none;
}

.message-box {
    position: fixed;
    z-index: 9997;
    bottom: 125px;
    right: 50px;
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.3s ease;
}

.show {
    opacity: 1;
    transform: translate(0, 0);
}

.message-box .texto {
    position: relative;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #e9e9e9;
    font-size: 14px;
    color: var(--marrom);
}

.message-box .texto .close {
    position: absolute;
    top: -22px;
    /* Ajuste conforme necessário */
    right: -5px;
    /* Ajuste conforme necessário */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: rgb(170, 170, 170);
}

.message-box .texto::after {
    content: "";
    position: absolute;
    bottom: -20px;
    /* Ajuste conforme necessário */
    right: 10px;
    /* Ajuste conforme necessário */
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.whatsapp-button::before {
    content: "1";
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 45, 45);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    animation: bounce 4s infinite;
    /* Ajuste o tempo de repetição para corresponder ao atraso desejado */
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    12.5% {
        transform: translateY(-8px);
    }

    25% {
        transform: translateY(0);
    }

    32% {
        transform: translateY(-5px);
    }

    45% {
        transform: translateY(0);
    }
}

.whatsapp-button i {
    font-size: 20px;
    transform: translateY(-1px);
    color: white;
}

.whatsapp-button span {
    transform: translateY(1px);
    margin: 0;
    width: 0;
    opacity: 0;
    font-family: 'Hind', sans-serif;
    color: #ffffff;
    transition: width 0.3s ease, opacity 0.15s ease 0.3s, padding-left 0.3s ease;
}

.whatsapp-button:hover span {
    width: 65px;
    padding-left: 10px;
    opacity: 1;
    transform: translateY(1px);
}

.whatsapp-button:hover {
    width: 122px;
    background-color: rgba(51, 51, 51, 0.8);
}

.whatsapp-button:not(:hover) span {
    transition: width 0.3s ease 0.15s, opacity 0.15s ease 0s, padding-left 0.3s ease 0.15s;
}

.whatsapp-button:not(:hover) {
    transition: width 0.3s ease 0.15s;
}

.whatsapp-button i {
    transform: translateY(1px);
}

@media (max-width: 800px) {

    .card-title {
        height: calc(2* 1.2em);
        font-size: 1em;
    }

}

@media (max-width: 700px) {

    .whatsapp-box {
        right: 20px;
    }

    .message-box {
        right: 20px;
    }
}

@media (max-width: 550px) {

    header {
        height: 250px;
    }

    header .content img {
        width: 300px;
    }

}

@media (max-width: 375px) {

    header {
        height: 230px;
    }

    header .content img {
        width: 260px;
    }

    main {
        min-height: calc(100vh - 270px);
    }

}