@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

:root {
    --bege-claro: #f3dcbd;
    /* Bege claro */
    --bege-escuro: #d2b48c;
    /* Bege escuro */
    --rosa-claro: #fc98aa;
    /* Rosa claro puxado para o salmão */
    --branco: #ffffff;
    /* Letras brancas */
    --grey: #acacac;
    /* cinza */
    --light-grey: #f1f1f1;
    /* cinza claro */
    --marrom: #6e4c34;
    --marrom-transparent: #6e4c3410;
    /* Detalhes em marrom */
    --marrom-escuro: #472e14;
    /* Detalhes em marrom */
    --marrom-claro: rgb(128, 77, 22);
    /* Detalhes em marrom */
}

/* Estilo do scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

/* Esconde o scrollbar no topo */
body.hide-scroll::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/* Estilo da thumb do scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

* {
    margin: 0px;
    padding: 0px;
    color: var(--branco);
    font-family: 'Hanken Grotesk', sans-serif;
}

a {
    text-decoration: none !important;
    cursor: pointer;
}

button {
    transition: 0.3s;
    cursor: pointer;
    font-weight: bold;
}

button a {
    color: inherit;
}

.fade-top,
.fade-bottom {
    left: 0;
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: 11;
}

.fade-top {
    top: 0;
    background: linear-gradient(to top, transparent, var(--bege-escuro));
}

.fade-bottom {
    bottom: 0;
    background: linear-gradient(to bottom, transparent, var(--bege-escuro));
}

.fade-in-slide-up,
.fade-in-slide-up-delay,
.fade-in-slide-up-long-delay {
    opacity: 0;
    transform: translateY(40px);
}

.fade-in-slide-up {
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.fade-in-slide-up.btn-1 {
    transition: background-color 0.8s ease, color 0.8s ease, opacity 1.5s ease, transform 1.5s ease;
}

.apresentacao-principal h1.fade-in-slide-up,
.fade-in-slide-up-delay,
.fade-in-slide-up-long-delay {
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in-slide-up.ativo,
.fade-in-slide-up-delay.ativo,
.fade-in-slide-up-long-delay.ativo {
    opacity: 1;
    transform: translateY(0);
}

.btn-1 {
    display: block;
    padding: 12px 20px;
    font-size: 18px;
    background-color: var(--marrom);
    color: var(--branco);
    font-weight: bold;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    border: none;
}

.btn-1:hover {
    background-color: var(--branco);
    color: var(--marrom);
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    background-color: var(--bege-escuro) !important;
}

header {
    position: absolute;
    width: 100%;
    display: flex;
    padding: 0 40px;
    height: 80px;
    align-items: center;
    justify-content: end;
    z-index: 2;
}

.logo {
    position: absolute;
    width: 105px;
    height: auto;
    top: 20px;
    left: 30px;
}

.logo img {
    width: 100%;
}

ul {
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-left: 30px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    transition: all 0.8s ease;
    position: relative;
}

header nav ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: var(--marrom);
    transition: width 0.3s ease, left 0.3s ease;
}

header nav ul li:hover::after {
    width: 100%;
    left: 0;
}

header nav ul li a {
    color: inherit;
}

.toggle-menu {
    margin-top: 0;
    display: none;
    border: none;
    background-color: transparent;
    color: var(--branco);
    font-size: 20px;
    margin-top: 20px;
}

menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--bege-escuro);
    opacity: 0;
    z-index: -1;
    font-family: 'Open Sans', sans-serif !important;
}

menu.opened {
    opacity: 1;
    z-index: 9999;
}

.close-popup {
    position: absolute;
    top: 30px;
    right: 40px;
    padding: 0;
    z-index: 9996;
}

.close {
    position: relative;
    width: fit-content;
    cursor: pointer;
}

menu nav {
    width: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

menu nav ul {
    padding: 0;
}

menu nav ul li {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 60px;
    overflow: hidden;
    height: fit-content;
}

menu nav ul li a {
    color: var(--branco);
    font-size: 45px;
    font-weight: 800;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    line-height: 1.3em;
}

#sobreMim {
    font-size: 42px;
}

menu ul li span {
    display: block;
    transform: translateY(60px);
    transition: transform 1.2s ease;
}

menu ul li span.animate {
    transform: translateY(0);
}

.menu-redes {
    padding: 0;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.menu-redes li {
    display: inline-block;
    margin: 10px 15px;
    font-size: 25px;
}

.redes-sociais {
    position: absolute;
    z-index: 2;
    left: 40px;
    top: 50vh;
    transform: translateY(-50%);
}

.redes-sociais ul {
    padding: 0;
}

.redes-sociais ul li {
    display: block;
    margin-bottom: 15px;
}

.redes-sociais ul li i {
    font-size: 22px;
    transition: all 0.8s ease;
}

nav li:hover {
    color: var(--marrom);
}

nav li:hover i {
    color: var(--light-grey);
    transform: scale(1.2);
}

.foto-fundo {
    position: fixed;
    width: 100vw;
    z-index: -1;
}

.apresentacao-principal {
    padding: 140px 100px;
    padding-bottom: 0;
    height: 100vh;
    position: relative;
    background-color: var(--bege-escuro) !important;
}

.apresentacao-principal .texto {
    height: 80%;
    margin-left: 80px;
    display: flex;
    align-items: center;
}

.apresentacao-principal h1 {
    font-size: 110px;
    line-height: 1em;
    font-weight: 800;
    margin-bottom: 30px;
}

.apresentacao-principal h3 {
    margin-bottom: 15px;
}

.apresentacao-principal p {
    max-width: 600px;
    font-size: 20px;
    line-height: 1.8em;
    color: var(--light-grey);
}

#imagem-fade {
    position: absolute;
    bottom: 0;
    left: 800px;
    transition: opacity 0.2s;
}

#imagem-fade img {
    height: 90vh;
}

#decor {
    display: none;
    bottom: 36%;
    right: -10px;
    height: 44vh;
}

.fade-out {
    opacity: 0;
}

.sobre-mim {
    padding: 120px 12%;
    padding-bottom: 180px;
    min-height: 100vh;
    background-color: var(--bege-escuro);
}

.sobre-mim h1 {
    font-size: 60px;
    letter-spacing: 5px;
    font-weight: 800;
    margin-bottom: 60px;
    text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

.sobre-mim .content {
    display: flex;
}

.caffe-img {
    width: 400px;
    height: 280px;
    margin-right: 60px;
    margin-bottom: 40px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.sobre-mim .texto {
    font-family: "Fraunces", serif;
    font-size: 18px;
    line-height: 1.8em;
    text-align: justify;
    flex: 1;
}

.terapia-online {
    padding: 0 12%;
    padding-bottom: 180px;
    background-color: var(--bege-escuro);
    font-family: "Fraunces", serif;
}

.terapia-online i {
    display: block;
    width: fit-content;
    font-size: 50px;
    margin: auto;
    margin-bottom: 20px;
    color: var(--marrom);
}

.terapia-online h4 {
    margin: auto;
    width: fit-content;
    margin-bottom: 20px;
}

.terapia-online .card {
    background-color: var(--marrom-transparent);
    height: 200px;
    margin: 0 10px;
    margin-bottom: 40px;
    border: none;
    padding: 30px;
}

.terapia-online .card span {
    font-size: 17px;
    text-align: center;
    color: var(--light-grey);
}

.formacao {
    padding: 80px 12%;
    min-height: 100vh;
    max-height: 1050px;
    background: rgba(0, 0, 0, 0.5);
}

.formacao .titulo-img {
    height: 120px;
}

.formacao .texto {
    margin-left: 20px;
    width: 700px;
    font-family: 'Open Sans', sans-serif !important;
}

.formacao .texto p {
    font-size: 22px;
    margin: 40px 0;
    font-weight: 300;
    max-width: 650px;
}

.formacao .texto h3 {
    font-weight: bold;
}

.formacao ul {
    padding: 0;
}

.formacao ul li {
    list-style-type: none;
    margin: 30px 0;
}

.formacao ul li h5 {
    font-size: 22px;
    color: var(--bege-escuro);
}

.formacao ul li span {
    font-size: 22px;
}

.agendamento {
    padding: 150px 0;
    height: 100vh;
    background-color: var(--bege-escuro);
}

.agendamento .titulo-img {
    height: 220px;
    margin: auto;
    display: block;
}

.FAQ {
    background-color: var(--bege-escuro);
    padding: 120px 8%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.FAQ h1 {
    font-size: 60px;
    letter-spacing: 5px;
    font-weight: 800;
    margin-bottom: 60px;
    text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

.accordion-1 {
    padding: 0;
}

.accordion-1 li {
    display: block;
    cursor: pointer;
    width: 100%;
    color: var(--lilas);
    margin-bottom: 20px;
}

.accordion-1 li p {
    margin: 0px;
    max-width: 90%;
}

.resposta {
    color: rgb(160, 160, 160);
    max-height: 0;
    overflow: hidden;
    transition: all 0.8s ease;
    padding: 0 20px;
    background-color: rgba(100, 100, 100, 0.15);
}

.pergunta.ativo .resposta {
    padding: 10px 20px;
    max-height: 600px;
    animation: fade 1s ease-in-out;
}

.pergunta.ativo svg {
    transform: rotate(180deg);
}

.pergunta-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px 20px;
    width: 100%;
    font-size: 18px;
    background-color: var(--bege);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
}

svg {
    margin-top: 10px;
    fill: transparent;
    transition: transform 1s ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.whatsapp-box {
    position: fixed;
    bottom: 40px;
    right: 50px;
    z-index: 9997;
    opacity: 0;
    transform: translateY(120px);
    transition: all 0.3s ease;
}

.whatsapp-button {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: rgb(140, 140, 140);
    border-radius: 25px;
    display: flex;
    align-items: center;
    object-fit: cover;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    transition: width 0.3s ease, background-color 0.3s ease;
    padding: 0 16px;
    text-decoration: none;
}

.message-box {
    position: fixed;
    z-index: 9997;
    bottom: 125px;
    right: 50px;
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.3s ease;
}

.show {
    opacity: 1;
    transform: translate(0, 0);
}

.message-box .texto {
    position: relative;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #e9e9e9;
    font-size: 14px;
    color: var(--marrom);
}

.message-box .texto .close {
    position: absolute;
    top: -22px;
    /* Ajuste conforme necessário */
    right: -5px;
    /* Ajuste conforme necessário */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: var(--branco);
}

.message-box .texto::after {
    content: "";
    position: absolute;
    bottom: -20px;
    /* Ajuste conforme necessário */
    right: 10px;
    /* Ajuste conforme necessário */
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.whatsapp-button::before {
    content: "1";
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 45, 45);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    animation: bounce 4s infinite;
    /* Ajuste o tempo de repetição para corresponder ao atraso desejado */
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    12.5% {
        transform: translateY(-8px);
    }

    25% {
        transform: translateY(0);
    }

    32% {
        transform: translateY(-5px);
    }

    45% {
        transform: translateY(0);
    }
}

.whatsapp-button i {
    font-size: 20px;
    transform: translateY(-1px);
    color: white;
}

.whatsapp-button span {
    transform: translateY(1px);
    margin: 0;
    width: 0;
    opacity: 0;
    font-family: 'Hind', sans-serif;
    color: white;
    transition: width 0.3s ease, opacity 0.15s ease 0.3s, padding-left 0.3s ease;
}

.whatsapp-button:hover span {
    width: 65px;
    padding-left: 10px;
    opacity: 1;
    transform: translateY(1px);
}

.whatsapp-button:hover {
    width: 122px;
    background-color: rgba(51, 51, 51, 0.8);
}

.whatsapp-button:not(:hover) span {
    transition: width 0.3s ease 0.15s, opacity 0.15s ease 0s, padding-left 0.3s ease 0.15s;
}

.whatsapp-button:not(:hover) {
    transition: width 0.3s ease 0.15s;
}

.whatsapp-button i {
    transform: translateY(1px);
}

@media (min-width: 820px) {
    .accordion-1 {
        width: 100%;
    }

}

@media (min-width: 500px) {
    .accordion-1 {
        width: 100%;
    }

}

@media (max-width: 1100px) {

    .apresentacao-principal h1 {
        font-size: 100px;
    }

    .apresentacao-principal h3 {
        font-size: 25px;
    }

    .apresentacao-principal p {
        max-width: 500px;
        font-size: 18px;
    }

    #imagem-fade {
        left: 700px;
    }
}

@media (max-width: 1024px) {

    .logo {
        top: 15px;
        left: 15px;
        width: 85px;
    }

    .apresentacao-principal .texto {
        margin-left: 30px;
    }

    .apresentacao-principal h1 {
        font-size: 95px;
        margin-bottom: 30px;
    }

    .apresentacao-principal h3 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .apresentacao-principal p {
        max-width: 480px;
        font-size: 18px;
    }

    #imagem-fade {
        left: 630px;
    }

    .sobre-mim .content {
        display: block;
    }

    .terapia-online .card {
        height: 250px;
    }

    .terapia-online .card span {
        font-size: 15px;
    }
}

@media (max-width: 768px) {

    .formacao .titulo-img {
        height: 100px;
    }

    .formacao .texto p {
        font-size: 20px;
        max-width: 500px;
    }

}

@media (max-width: 700px) {

    .whatsapp-box {
        right: 20px;
    }

    .message-box {
        right: 20px;
    }
}

@media (max-width: 550px) {

    header {
        padding: 0 20px;
        height: 60px;
    }

    .logo {
        top: 5px;
        left: 25px;
        width: 70px;
    }

    .toggle-menu {
        display: block;
    }

    header nav {
        display: none;
    }

    .apresentacao-principal {
        padding: 30px 0;
    }

    .apresentacao-principal .texto {
        text-align: center;
        padding-top: 160px;
        margin: auto;
        width: fit-content;
    }

    .apresentacao-principal h1 {
        font-size: 50px;
    }

    .apresentacao-principal h3 {
        font-size: 20px;
    }

    .apresentacao-principal p {
        max-width: 360px;
        font-size: 14px;
    }

    #imagem-fade {
        position: relative;
        width: fit-content;
        margin: auto;
        margin-bottom: 20px;
        left: unset;
        bottom: unset;
    }

    #imagem-fade img {
        height: 360px;
    }

    .redes-sociais {
        display: none;
    }

    .sobre-mim h1 {
        font-size: 45px;
    }

    .caffe-img {
        width: 100%;
        height: auto;
    }

    .formacao {
        padding: 80px 8%;
    }

    .formacao .titulo-img {
        display: block;
        height: 70px;
        margin-left: -10px;
    }

    .formacao .texto {
        margin-left: 0;
        width: 100%;
    }

    .formacao .texto p {
        font-size: 16px;
        max-width: 100%;
    }

    .formacao ul li h5 {
        font-size: 18px;
    }

    .formacao ul li span {
        font-size: 18px;
    }

    .FAQ h1 {
        font-size: 45px;
    }

}

@media (max-width: 375px) {

    .logo {
        top: 5px;
        left: 15px;
        width: 60px;
    }

    .toggle-menu {
        margin-top: 0px;
        font-size: 16px;
    }

    menu nav ul li {
        margin-bottom: 40px;
    }

    menu nav ul li a {
        font-size: 38px;
    }

    .apresentacao-principal {
        padding: 0;
    }

    .apresentacao-principal h1 {
        font-size: 45px;
    }

    .apresentacao-principal h3 {
        font-size: 16px;
    }

    .apresentacao-principal p {
        max-width: 320px;
        font-size: 14px;
    }

    #imagem-fade img {
        height: 300px;
    }
    
}

@media (min-width: 768px) and (min-height: 1000px) {

    .logo {
        top: 20px;
        left: 20px;
        width: 115px;
    }

    .apresentacao-principal .texto {
        text-align: center;
        padding-top: 60px;
        margin: auto;
        width: fit-content;
    }

    .apresentacao-principal h1 {
        font-size: 80px;
    }

    .apresentacao-principal h3 {
        font-size: 25px;
    }

    .apresentacao-principal p {
        max-width: 500px;
        font-size: 18px;
    }

    #imagem-fade {
        position: relative;
        width: fit-content;
        margin: auto;
        margin-bottom: 20px;
        left: unset;
        bottom: unset;
    }

    #imagem-fade img {
        height: 530px;
    }

    .redes-sociais ul li i {
        font-size: 26px;
    }

}

@media (min-width: 768px) and (max-height: 1200px) and (max-width: 1000px) {

    .terapia-online .row {
        display: block;
    }

    .terapia-online .col-md-4 {
        width: 100%;
    }

    .terapia-online .card {
        height: 150px;
    }

}

@media (min-width: 1024px) and (min-height: 1366px) {

    header {
        height: 120px;
    }

    .logo {
        top: 20px;
        left: 20px;
        width: 145px;
    }

    header nav ul li {
        font-size: 26px;
    }

    .apresentacao-principal .texto {
        padding-top: 150px;
    }

    .apresentacao-principal h1 {
        font-size: 110px;
    }

    .apresentacao-principal h3 {
        font-size: 32px;
    }

    .apresentacao-principal p {
        max-width: 700px;
        font-size: 24px;
    }

    #imagem-fade img {
        height: 700px;
    }

    .redes-sociais ul li i {
        font-size: 30px;
    }

}